
#nk3__Input {
	color: #555;
	height: 34px;
	margin: 0;
	border-radius: 4px;
	background-color: white;
	border: none;
	position: absolute;
	top: 0;
	left: -2px;
	right: -2px;
	box-shadow: 1px 1px 2px #aaa;
	box-sizing: content-box;
	cursor: text;
	overflow: hidden;
	outline: none;
}
#nk3__Input:before, #nk3__Input:after { color: #bbb; }
#nk3__Input:empty:before {
	content: 'Image URL @ clear';
}
#nk3__Input[data-compl]:after {
	content: attr(data-compl);
}
#nk3__Input.nk3-invalid {
	color: #a52525;
}
#nk3__magCard:before, #nk3__Input {
	content: '= ^ =';
	line-height: 34px;
	font-size: 18px;
	padding: 6px 12px;
	display: block;
}

.nk3-close-btn {
	transition: .5s ease;
	opacity: .6;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -2px;
	padding: 2px 9px 5px;
	border-radius: 0 5px;
	color: #555;
	font: 12px monospace;
}
.nk3-close-btn:before {
	content: "x";
}
.nk3-close-btn:hover {
	color: #fff;
	background-color: black;
}
#nk3__magCard {
	background-color: #ebebeb;
	box-shadow: 0 9px 19px -8px rgba(0,0,0,.8), inset 0 0 90px 3px #fff;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 520px;
	margin-top: 1%;
	border-radius: 5px;
	padding: 10px;
}
#nk3__wkImage {
	min-width: 125px;
	min-height: auto;
	max-width: 450px;
}
.nk3-ierror:after {
	content: 'image source not found\A✖';
	white-space: pre;
	text-align: center;
	color: #e26c6c;
	font-weight: bold;
	background-color: #502828;
	padding-top: 20px;
}
.nk3-ierror:after,
.nk3-iload:after,
#nk3__dropArrow {
	display: block;
	margin-left: 20px;
	width: 200px;
	height: 180px;
}
#nk3__dropArrow {
	border: 3px dashed #8a92a5;
	border-radius: 10px;
	cursor: pointer;
	background: var(--svg-darrw) no-repeat center / 100%;
}
.nk3-iload:after {
	content: '';
	background: var(--svg-iload) no-repeat center / 100%;
}
.nk3-ierror > *,
.nk3-iload > *,
* + #nk3__dropArrow {
	display: none!important;
}

#nk3__Prefs {
	padding-right: 10px;
}
#nk3__DropBox {
	width: 100%;
	border-left: 1px dashed #bbb;
}
.nk3-itab {
	display: table-cell;
}
.nk3-itab:before {
	content: "";
	display: table-row;
}

.nk3-ex-slider {
	top: -2px;
	padding: 2px;
	position: absolute;
}
.nk3-ex-slider:before {
	content: "";
	left: -5px;
	top: -5px;
	padding: 7px;
	background: var(--svg-brigh) no-repeat center / 100%;
	position: absolute;
}

#nk3__Expose:before {
	content: "";
	padding: 3px 0;
	top: -4px;
	left: 50%;
	border: 1px solid #ccc;
	border-right-color: #fff;
	position: absolute;
}
#nk3__Expose {
	border: 1px solid #ccc;
	border-bottom-color: #fff;
	margin: 8px 0;
	position: relative;
}

.nk3-ico {
	border: 1px dashed transparent;
	padding: 5px;
	border-radius: 8px;
	display: block;
	margin: 2px;
	box-sizing: initial;
	max-width: 18px;
	max-height: 18px;
}
.nk3-ico.ch-x-k {
	border-color: #ccc;
}

.nk3-filter {
	cursor: pointer;
	margin: 1px 0;
	font: 14px serif;
	color: #8a92a5;
}
.nk3-filter:before {
	content: '';
	position: relative;
	padding: 0 2px; 
	left: -4px;
}
.nk3-filter.ch-x-k:before {
	background-color: green;
}
.nk3-filter:after {
	content: attr(itemprop);
}

#nk3__magCard {
	--svg-darrw: url('chrome-extension://__MSG_@@extension_id__/tools/css/drop-arrow.svg');
	--svg-iload: url('chrome-extension://__MSG_@@extension_id__/tools/css/i-load.svg');
	--svg-brigh: url('chrome-extension://__MSG_@@extension_id__/tools/css/bright.svg');
}
@-moz-document url-prefix() {
	#nk3__magCard {
		--svg-darrw: url('moz-extension://__MSG_@@extension_id__/tools/css/drop-arrow.svg');
		--svg-iload: url('moz-extension://__MSG_@@extension_id__/tools/css/i-load.svg');
		--svg-brigh: url('moz-extension://__MSG_@@extension_id__/tools/css/bright.svg');
	}
}
